# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Virtual environments & secrets ---
venv/
.env


# --- Jupyter Notebook checkpoints ---
.ipynb_checkpoints/

# --- OS-specific junk ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log
