# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.so
.pytest_cache/

# Virtual environments
venv/
venv1/
.venv/
env/

# Environment variables
.env

# Databases
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/